body {
    background-color: white;
    font-family: "Benton Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", helvetica, arial, sans-serif;
  }
  
  .comic__header {
    display: flex;
    position: relative;
  }
  
  .comic__generator {
    color: #999;
    font-size: .7em;
    text-align: right;
    padding-right: 1rem;
  }
  
  .comic_container {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;

    /* don't grow too large on wide screens, the original 3 panel images are only 1000px or something */
    max-width: 900px;

    background-color: white;
  }        

  .comic_container--saving {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: none;
    width: 1280px;
  }
  
  .title_bar {
  }
  
  .title_bar__image {
    max-width: 100%;
    margin-left: -3%;
    cursor: pointer;
  }

  .comic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
  }
  
  .comic__panel {
    /* if not using random titles, scootch the non-title panels down a bit so that they line up more often */
    width: 33.33%;
    padding: 5px;
  }

  .comic__panel--title {
    padding-top: 0;
  }

  .comic__image {
    /* fade in/out when we add and remove the 'comic__image--replacing' class */
    transition: .25s ease-in-out;
    
    cursor: pointer;        
    width: 100%;
    opacity: 1;
  }

  .comic__image--replacing {
    opacity: 0;
  }

  .notes {
    margin: 4em 0 1em 0;
  }

  .notes, .glitch_widget {
    text-align: center;
    font-size: .9em;
  }

  .save_control {
    display: none;
  }

  .save_control--supported {
    display: inline;
  }
  
  .save_link__image {
    height: 24px;
    width: 24px;
    vertical-align: middle;
  }

  .controls {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.2em;
  }