@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');


/*---------- Animation---------------*/
@keyframes fadeIn {
    from {
        top: 20px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

/*-----------------------------------*/

body {
    color: white;
    background-color: rgb(20, 20, 20);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 13px;
}

.text_typing { 
	border-right: .1em solid rgb(199, 199, 199);
	width: 16.5em; 
	width: 21ch;
	white-space: nowrap;
	overflow: hidden;
    animation: typing 7s steps(21, end),
	           blink-caret .5s step-end infinite alternate;
}

.text_wrapper {
    width: 80vw;
    height: 100vh;
    color: white;
    background-color: rgb(20, 20, 20);
    top: -10px;
    margin: 5px auto;
    padding: 10px;
}

.primary_text_bubble {
    position: relative;
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.11);
    padding: 8px 8px;
    border-radius: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.4s;
}